
/*
 * pipeline input parameters
 */

// paths to software
// params.omem =  "/home/stephen/Documents/projects/langmead_lab/omem/src/omem"     // can we pass whole directory w all the scripts in it
params.dap_to_ms_py =  "/home/stephen/Documents/projects/langmead_lab/omem/src/dap_to_ms_bed.py"
params.omem_index =  "/home/stephen/Documents/projects/langmead_lab/omem/src/index.sh"
params.omem_query =  "/home/stephen/Documents/projects/langmead_lab/omem/src/query.sh"
params.doc_pfp = "/home/stephen/Documents/projects/langmead_lab/docprofiles/build_printout/pfp_doc64"

// example because currently skipping
params.example_full_dap = "/home/stephen/Documents/projects/langmead_lab/analysis/order_mems/bacteria_5/e_coli_pivot/full_dap.txt"
params.example_fna =      "/home/stephen/Documents/projects/langmead_lab/analysis/order_mems/bacteria_5/e_coli_pivot/input.fna"
params.document_listing = "/home/stephen/Documents/projects/langmead_lab/omem/data/bacteria_pangeome_fasta/bacteria_pangenome_paths_with_annot.txt"

// output 
params.out_dir = "results"
params.out_prefix = "e_coli"

// parameters
params.pivot_idx = 1
params.num_docs = 4
params.K = 12
params.records = "NZ_CP015023.1 NZ_CP015022.1"
params.region = "NZ_CP015023.1:0-5506800"

